<div class='header'>
    <div class='container'>
        <div class='header__title-area'>
            <h1 class='header__title'>{{'Poets Of Belarus' | translate : language}}</h1>
        </div>
        <!-- <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select>
              <mat-option>English</mat-option>
              <mat-option>Русский</mat-option>
              <mat-option>Беларуская</mat-option>
            </mat-select>
          </mat-form-field> -->
    </div>
</div>
