<mat-card class='wrapper-author'>
  <mat-card-header>
    <mat-card-title> {{ author.name }} {{ author.surname }} </mat-card-title>
    <mat-card-subtitle>( {{ author.realName }} {{ author.realPatronymic }} {{ author.realSurname }} )</mat-card-subtitle>
    <mat-card-title> {{ author.birth }} - {{ author.death }} </mat-card-title>
  </mat-card-header>
  <img [src]="author.img">
  <app-timeline [biographyArr]="author.biography"></app-timeline>
  <ul>
      <li *ngFor="let item of author.works">{{item}}</li>
  </ul>
  <iframe class='video' [src]="getVideo(author.video)" (click)='full()' allowfullscreen>
  </iframe>
  <iframe [src]='getMap(author.place)'></iframe>
</mat-card>
