.mat-expansion-panel {
  background-color: #7e7366;
  
}
mat-panel-title {
  color: rgb(235, 227, 217);
}
table {
  width: 100%;
  background-color: rgb(184, 173, 163);
}
th,
td {
  color: rgb(94, 82, 73);
  border-bottom: rgb(175, 162, 147);
}
