$base-color: rgb(180, 178, 166);

.header__navigation {
    width: 100%;
    margin: 0;
    position: fixed;
    background-color: rgba(37, 26, 16, 0.767);
    color: $base-color;

    z-index: 100;
}
.header__navigation_list-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    margin: 7px 0;

    list-style: none;
    font-size: 1em;
}
.header__navigation_list-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7px 30px;

    list-style: none;
    font-size: 1em;
}
.header__select-lang {
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0);
    color: $base-color;
    border: none;
    border-radius: 3px;
    outline: none;

    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.062);
    }
    &:active {
        outline: none;
    }
    option {
        background-color: rgb(56, 46, 36);
    }
    option:hover {
        background-color: rgb(97, 87, 79);
    }
}

