<div class='author-of-day'>
    <div class='container'>
        <h2 class='author-of-day__title'>Author of Day</h2>
        <mat-card class='author-of-day__author-card-desktop' *ngIf='showMobile'>
            <img mat-card-image src='{{img}}' alt='Photo of Author'>
            <div class='author-card__info'>
                <mat-card-header>
                <mat-card-title>{{authorName}}</mat-card-title>
                <mat-card-subtitle>Author</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                <p>
                    <span>Real name:</span> {{realName}} <br>
                    <span>Birth date:</span> {{birth}} <br>
                    <span>Death date:</span> {{death}}
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button (click)="navigateAuthor()" mat-button>MORE</button>
                </mat-card-actions>
            </div>
        </mat-card>
        <mat-card class='author-of-day__author-card-mobile' *ngIf='!showMobile'>
            <mat-card-header>
                <mat-card-title>{{authorName}}</mat-card-title>
                <mat-card-subtitle>Author</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src='{{img}}' alt='Photo of Author'>
            <mat-card-content>
            <p>
                <span>Real name:</span> {{realName}} <br>
                <span>Birth date:</span> {{birth}} <br>
                <span>Death date:</span> {{death}}
            </p>
            </mat-card-content>
<!--          Внутри не работает, не понимаю почему?-->
            <mat-card-actions>
            <button mat-button (click)="navigateAuthor()">MORE</button>
            </mat-card-actions>
        </mat-card>
<!--      Тут Работает-->
      <button mat-button (click)="navigateAuthor()">MORE</button>
    </div>
</div>
