<div class='author-of-day'>
    <div class='container'>
        <h2 class='author-of-day__title'>{{title}}</h2>
        <mat-card class='author-of-day__author-card-desktop' *ngIf='showMobile'>
            <img mat-card-image src='{{img}}' alt='Photo of Author'>
            <div class='author-card__info'>
                <mat-card-header>
                <mat-card-title>{{authorName}}</mat-card-title>
                <mat-card-subtitle>{{job}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                <p>
                    <span>{{name}}:</span> {{realName}} <br>
                    <span>{{birthDate}}:</span> {{birth}} <br>
                    <span>{{deathDate}}:</span> {{death}}
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button (click)="navigateAuthor()" mat-button>{{moreBtn}}</button>
                </mat-card-actions>
            </div>
        </mat-card>
        <mat-card class='author-of-day__author-card-mobile' *ngIf='!showMobile'>
            <mat-card-header>
                <mat-card-title>{{authorName}}</mat-card-title>
                <mat-card-subtitle>{{job}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src='{{img}}' alt='Photo of Author'>
            <mat-card-content>
            <p>
                <span>{{name}}:</span> {{realName}} <br>
                <span>{{birthDate}}:</span> {{birth}} <br>
                <span>{{deathDate}}:</span> {{death}}
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button (click)="navigateAuthor()">{{moreBtn}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
