.example_card {
  max-width: 600px;
  min-height: 355px;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px;
  grid-gap: 5px;
  align-items: center;
  margin-bottom: 10px;


  &--image {
    max-width: 240px;
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 0;
  }

  &--header,
  &--content {
    padding-left: 15px;
  }


  &--button_wrap {
    display: flex;
    justify-content: center;
    align-self: center;

  }

  &--button {
    border: 1px solid;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .example_card--button{
    font-size: 12px;
  }
}
