<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{author.surname}} {{author.name}}</mat-card-title>
    <mat-card-subtitle>{{author.realSurname}} {{author.realName}}</mat-card-subtitle>
    <mat-card-title>{{author.birth | date : 'dd/MM/yyyy' }} - {{author.death | date : 'dd/MM/yyyy' }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="author.img" alt="Photo of a {{author.realSurname}}">
  <mat-card-content>
    <p>{{author.summaryBiography}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="onInfo()" >{{ 'More information' | translate: (language$ | async)}}</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
