.developers {
  background-color: rgb(141, 134, 121);
}
.developers__container {
  width: 90%;
  margin: 0 auto;
  padding-top: 87px;
  padding-bottom: 20px;
}
h2 {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(247, 235, 224);
  font-size: 1.8em;
  letter-spacing: 2px;

  border-bottom: 2px solid rgb(247, 235, 224);
}
.developers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}