.developers {
  max-width: 1200px;
  width: 100%;
  display: grid;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  grid-template-columns: repeat( auto-fit, 300px);
  column-gap: 10px;
  row-gap: 10px;
}
