<div class='description'>
    <div class='container'>
        <h2 class='description__title'>About Us</h2>
        <div class='description__text-desktop' *ngIf='showMobile'>
            <p class='intro'>Belarus is famous for many things but how about its literature? 
                Typical associations with the country are sports, quality goods, and 
                untouched nature. However, Belarusian literature can also positively surprise you.
            </p>

            <p class='about-literature'>
                Belarusian literature began to evolve as early as the 14th-15 centuries, on the 
                basis of the Old-Slavonic and later Old-Belarusian languages. Psaltyr by Francysk 
                Skaryna was the first Belarusian book printed in Prague and one of the earliest 
                translations of a Bible text into a native tongue in general.
            </p>

            <p class='about-portal'>
                This portal introduces you to the great Poets of the Republic of Belarus. Here you can
                find their biography and works. And we're sure you'll be deeply touched by our heritage!
            </p>
        </div>
        <div class='description__text-mobile' *ngIf='!showMobile'>
            <p class='intro'>Belarus is famous for many things but how about its literature? 
                Typical associations with the country are sports, quality goods, and 
                untouched nature. However, Belarusian literature can also positively surprise you.
            </p>

            <p class='about-literature'>
                Belarusian literature began to evolve as early as the 14th-15 centuries, on the 
                basis of the Old-Slavonic and later Old-Belarusian languages. Psaltyr by Francysk 
                Skaryna was the first Belarusian book printed in Prague and one of the earliest 
                translations of a Bible text into a native tongue in general.
            </p>

            <p class='about-portal'>
                This portal introduces you to the great Poets of the Republic of Belarus. Here you can
                find their biography and works. And we're sure you'll be deeply touched by our heritage!
            </p>
        </div>
    </div>
</div>
