.mat-expansion-panel {
  background-color: #7e7366;
}

.evaluation-headline {
  font-size: 20px;
  margin: 10px 0;
}

.mat-list-item {
  height: 100%;
  margin: 15px 0;
  color: #c5baaf;
}

.mat-checkbox {
  margin-right: 20px;
}
mat-panel-title {
  color: rgb(235, 227, 217);
}

