<div class='styleguide'>
  <h2>{{'Styleguide' | translate: language}}</h2>
  <div class='styleguide__item'>
    <h3>{{'Basic Buttons' | translate: language}}</h3>
    <div class="example-button-row">
      <button mat-button>{{'Basic'| translate: language}}</button>
      <button mat-button color="primary">{{'Primary' | translate: language}}</button>
      <button mat-button color="accent">{{'Accent' | translate: language}}</button>
      <button mat-button color="warn">{{'Warn' | translate: language}}</button>
      <a mat-button routerLink=".">{{'Link' | translate: language}}</a>
    </div>
  </div>

  <div class='styleguide__item'>
    <h3>{{'Raised Buttons' | translate: language}}</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">{{'Primary' | translate: language}}</button>
      <button mat-raised-button color="accent">{{'Accent' | translate: language}}</button>
      <button mat-raised-button color="warn">{{'Warn' | translate: language}}</button>
      <a mat-raised-button routerLink=".">{{'Link' | translate: language}}</a>
    </div>
  </div>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{'Name' | translate: language}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="avatar">
    <mat-card-content>
      <p>
        {{'Role' | translate: language}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-stroked-button href="http://GitHub.com">GitHub</a>
    </mat-card-actions>
  </mat-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'Personal data' | translate: language}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{'Info' | translate: language}}</p>
  </mat-expansion-panel>
</div>
